.Dictionary h1 {
  font-size: 24px;
  text-align: center;
}

.hint {
  opacity: 0.6;
}

.Dictionary input {
  border: 1px solid #0a75d9;
  border-radius: 5px;
  padding: 6px 20px;
  width: 100%;
}

.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 6px 6px 21px -3px rgba(0, 0, 0, 0.16);
}
